<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    创建各种实现类的对象-->
    <!--    创建业务逻辑层的对象-->
    <bean id="uService" class="com.example.service.impl.UserServiceImpl">
        <property name="userMapper" ref="uMapper"/>
    </bean>

</beans>