<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    创建学校对象-->
    <bean id="school" class="org.example.pojo2.School">
            <property name="name" value="北京大学"/>
            <property name="address" value="北京市"/>
    </bean>

    <!--    创建学生对象-->
    <bean id="student" class="org.example.pojo2.Student">
            <property name="name" value="张三"/>
            <property name="age" value="20"/>
            <property name="school" ref="school"/>
    </bean>

</beans>