<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--    创建业务对象
    <bean id="someService" class="com.hwk.s01.SomeServiceImpl">
    </bean>

    &lt;!&ndash;    创建切面对象&ndash;&gt;
    <bean id="myaspect" class="com.hwk.s01.MyAspect">
    </bean>-->
    
<!--    基于注解的访问添加包扫描-->
    <context:component-scan base-package="com.hwk.s04"/>

<!--        绑定    -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>